---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Identity from "../components/Identity.astro";
import NowFeed from "../components/NowFeed.astro";
import FieldNotes from "../components/FieldNotes.astro";
import Signal from "../components/Signal.astro";
import Footer from "../components/Footer.astro";
import HalftoneBackdrop from "../components/HalftoneBackdrop.astro";
import { fetchGitHubData } from "../lib/github";

const accountsRaw = process.env.GITHUB_USERS ?? "jonneylon,neylonjon,jonnext";
const accounts = accountsRaw.split(",").map((a) => a.trim()).filter(Boolean);
const token = process.env.GITHUB_TOKEN;
const data = await fetchGitHubData(accounts, token);

Astro.response.headers.set(
  "Cache-Control",
  "public, s-maxage=600, stale-while-revalidate=3600"
);
---

<Layout>
  <HalftoneBackdrop weeks={data.contributions} totalContributions={data.totalContributions} />
  <Header />
  <main id="main">
    <Identity />
    <NowFeed data={data} />
    <FieldNotes />
    <Signal />
  </main>
  <Footer />
</Layout>
